/* home.css */

:root {
  --lighter-brown: #F4DECB;
  --light-brown: #e0c7b1;
  --pastel-pink: #FFC1CC;
  --pastel-blue: #ACE5EE;
  --pastel-brown: #FFB07C;
  --dark-grey: #333333;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--light-brown);
  background-image: url('/assets/brutalist/brut18.PNG');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  animation: hoverBackground 10s infinite linear;
  overflow-y: auto;
}

@media (max-width: 768px) {
  body {
    animation: hoverBackground 5s infinite linear;
  }
}

/* Animation for body background image to add some motion */
@keyframes hoverBackground {
  0% {
    background-position: center 5rem;  /* Start 2rem down */
  }
  50% {
    background-position: center calc(5rem + 5%);  /* Move down by an additional 5% */
  }
  100% {
    background-position: center 5rem;  /* Return to the starting position */
  }
}

/* Floating Rounded Header with Logo, Title and Login Button */

.home-page header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--lighter-brown);
  padding: 0.3125rem 1.25rem;
  height: 3.125rem;
  border-radius: 50px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1.5625rem;
  z-index: 1;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.header-title {
  font-size: 1.125rem;
  color: var(--dark-grey);
  margin-left: 0.625rem;
  font-weight: 600;
}

.login-button {
  background-color: var(--dark-grey);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  transition: transform 0.2s ease-in-out;
}

.login-button:hover {
  transform: scale(1.05);
}

/* Main Section with Taglines, Login with Spotify button and floating images */

#main-content {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10rem;
  flex-direction: column;
  align-items: center;
}

.tagline h1 {
  font-size: 4.125rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
  color: var(--dark-grey);
}

.tagline p {
  font-size: 1.125rem;
  font-weight: normal;
  margin-bottom: 1.25rem;
  color: var(--dark-grey);
}

.spotify-login {
  margin: 2rem;
  background-color: var(--dark-grey);
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 35px;
  transition: transform 0.1s ease-in-out;
}

.spotify-login img {
  vertical-align: middle;
  width: 28px;
  height: 28px;
  margin-right: 12px;
}

.spotify-login:hover {
  transform: scale(1.01);
}

/* Hover Effect for connecting Login and Login with Spotify Button */

.hover-effect {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

/* Footer Styling */

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  margin: 25px;
}

.footer-links a {
  color: var(--dark-grey);
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.footer-links a:hover {
  color: #4d0e2c;
}

/* Privacy Content Overlay Box Styling */

#privacy-overlay {
  font-family: 'Noto Sans', sans-serif;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  visibility: hidden;
}

#privacy-overlay.show {
  visibility: visible;
  opacity: 1;
}

#privacy-content {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  backdrop-filter: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-height: 80%;
  overflow-y: auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--lighter-brown);
  color: var(--dark-grey);
  border: 1px solid var(--dark-grey);
}

#privacy-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--dark-grey);
}

#privacy-content p {
  font-size: 16px;
  line-height: 1.5;
}

#privacy-content h2,
#privacy-content h3 {
  color: var(--dark-grey);
  font-weight: bold;
}

#privacy-content p,
#privacy-content ul {
  color: var(--dark-grey);
  font-weight: normal;
}

#privacy-content button {
  background-color: var(--dark-grey);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 20px;
}

#close-privacy {
  display: block;
  margin: auto;
  margin-top: 20px;
}