/* styles.css */

/* Color Theme */
:root {
    --lighter-brown: #F4DECB;
    --light-brown: #e0c7b1;
    --dark-brown: rgb(185, 164, 145);
    --pastel-pink: #FFC1CC;
    --pastel-blue: #ACE5EE;
    --pastel-brown: #FFB07C;
    --dark-grey: #333333;
    --primary: #ef9995;
    --secondary: #a4cbb4;
    --accent: #dc8850;
    --neutral: #2e282a;
    --base-100: #e4d8b4;
    --info: #2463eb;
    --success: #16a249;
    --warning: #db7706;
    --error: #dc2828;
}

body {
    display: flex;
    margin: 0;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: var(--light-brown);
}

#app {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

/* Main Section where tracks populate and actions are taken */
main {
    display: flex;
    flex: 1;
    position: relative;
    flex-direction: column;
    height: 100vh;
}

#playlist-details {
    display: flex;
    align-items: center;
    margin: 80px 36px 10px 36px;
    flex-shrink: 0;
    z-index: 2;
    position: relative;
}

#playlist-details img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 20px;
}

#playlist-details h2 {
    margin: 0;
    color: var(--dark-grey);
    font-size: 24px;
}

#playlist-details p {
    margin: 5px 0;
    color: var(--dark-grey);
    font-size: 13px;
}

hr {
    border: none;
    height: 2px;
    background-color: var(--lighter-brown);
    border-radius: 5px;
    margin: 10px 20px 0px 20px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    flex-shrink: 0;
    z-index: 1;
    position: relative;
}

#content {
    flex-grow: 1;
    overflow-y: auto;
    position: relative;
    z-index: 0;
    margin-left: 15px;
    margin-right: 15px;
}

.track-item {
    margin: 5px;
    padding: 5px 15px 5px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    border-radius: 5px;
}

.track-item:hover {
    background-color: var(--lighter-brown);
    border-radius: 5px;
}

.track-item label {
    color: var(--dark-grey);
    font-size: 16px;
    cursor: pointer;
}

.track-number {
    margin-right: 30px;
    color: var(--dark-grey);
    font-size: 14px;
    width: 24px;
    text-align: right;
}

.track-item small {
    display: block;
    font-size: 12px;
    color: #484848;
    cursor: pointer;
}

.track-artwork {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    margin-right: 14px;
    cursor: pointer;
}

/* Toggle Switches */
.my-toggle-switch {
    position: absolute;
    bottom: 0px;
    right: 10px;
    display: inline-block;
}

.my-toggle-switch input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.my-toggle-switch label {
    cursor: pointer;
    width: 40px;
    /* Adjust the width as needed */
    height: 20px;
    /* Adjust the height as needed */
    background: var(--dark-grey);
    display: block;
    border-radius: 100px;
    position: relative;
}

.my-toggle-switch label:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background: var(--light-brown);
    border-radius: 50%;
    transition: 0.3s;
}

.my-toggle-switch input:checked+label {
    background: var(--accent);
}

.my-toggle-switch input:checked+label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.my-toggle-switch label:active:after {
    width: 20px;
}

.my-toggle-switch .toggle-text {
    display: block;
    text-align: center;
    /* Center the text horizontally */
    font-size: 10px;
    /* Adjust the font size as needed */
    padding-top: 5px;
    /* Add padding to separate it from the button */
}

/* Sidebar with Playlist Section and Menu Items */
.loading {
    display: none;
    /* Initially hidden */
    border: 5px solid var(--lighter-brown);
    border-top: 5px solid var(--dark-grey);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: absolute;
    /* Absolute within the playlist-section */
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    /* Necessary for true centering */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

aside {
    background-color: var(--lighter-brown);
    padding: 20px;
    flex: 0 0 25%;
}

#logo-and-menu ul {
    align-items: center;
    padding: 0;
    margin: 10px 0;
}

.hide {
    display: none !important;
}

.search-icon {
    font-size: 16px !important;
    padding: 0 10px 0 0;
}

#logo-section img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

#logo-section {
    display: flex;
    align-items: center;
}

#logo-and-menu li {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    padding: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    border-radius: 20px;
}

#logo-and-menu li:hover {
    background-color: var(--light-brown);
    border-radius: 20px;
}

#logo-and-menu .material-icons {
    margin-right: 10px;
}

/* Playlists section styles */
#playlist-section {
    position: relative;
    flex: 1;
    height: calc(100vh - 100px);
    background-color: var(--light-brown);
    border-radius: 5px;
    overflow-y: auto;
}

.playlist-item:hover {
    background-color: var(--lighter-brown);
    border-radius: 5px;
}

.playlist-item {
    margin: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.playlist-artwork {
    width: 36px;
    height: 36px;
    border-radius: 6px;
    margin-right: 14px;
    cursor: pointer;
}

.playlist-item label {
    color: var(--dark-grey);
    font-size: 14px;
    cursor: pointer;
}

.playlist-item small {
    display: block;
    font-size: 10px;
    color: #484848;
    cursor: pointer;
}

/* Top Right buttons and Profile/Logout Menu */
#user-profile {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    display: flex;
}

#open-spotify-btn {
    background-color: var(--lighter-brown);
    color: #333333;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
    cursor: pointer;
    order: 1;
}

#user-profile-icon,
#user-profile-pic {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--lighter-brown);
    vertical-align: middle;
    cursor: pointer;
    order: 2;
}

#user-profile-icon {
    font-size: 36px !important;
}

#profile-dropdown {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: var(--dark-grey);
    border-radius: 15px;
    z-index: 2;
    min-width: 80px;
}

#profile-dropdown::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--dark-grey);
}

#profile-dropdown a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
}

/* Footer Mini-Player */
/* footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background-color: var(--dark-grey);
    border-radius: 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    margin: 0 auto 25px auto;
} */

/* #mini-player {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
} */

/* #mini-player button {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: transform 0.2s ease-in-out;
} */

/* #mini-player button:hover {
    transform: scale(1.05);
} */